{
    "Checks": "-*,clang-analyzer-*,-clang-analyzer-osx,-clang-analyzer-optin.osx,-clang-analyzer-webkit,modernize-*,-modernize-use-trailing-return-type,-modernize-use-nodiscard,readability-*,-readability-magic-numbers,performance-*"
}